#home main {
    margin-top: -3rem;
    /* padding: 1rem; */
}
    #home main > p {
        font-size: var(--bigger-font-size);
    }

@media (max-width: 1250px) {
    #home main {
        margin-top: -10rem;
        padding: 1rem;
    }
}