#skills{
    align-items: center;
    padding: 15vh 10% 0 10%;
}

#skills .card{
    width: 350px;
    height: 450px;
    justify-content: space-between;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

#skills .card p{
    color: white;
    font-size: 0.8rem;
}

#skills .card .projets > p{
    font-size: 0.7rem ;
}

#skills .card .projets > span{
    color: gray;
}

#skills .cards-wrapper{
    margin-top: 2rem;
}