#skills{
    align-items: center;
    padding: 15vh 10% 0 10%;
}

#skills .card{
    width: 350px;
    height: 400px;
}

#skills .card p{
    color: white;
    font-size: 0.8rem;
}

#skills .cards-wrapper{
    margin-top: 2rem;
}